<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fyp.qian3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true" >

        <activity
            android:name=".Activity.GuideAct"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.LoginAct"
            android:screenOrientation="portrait"
            android:label="@string/login_act" />
        <activity
            android:name=".Activity.HomeAct"
            android:screenOrientation="portrait"
            android:label="@string/home_act"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.SettingAct"
            android:screenOrientation="portrait"
            android:label="@string/setting_act" />
        <activity android:name=".Activity.PersonAct"
            android:screenOrientation="portrait"
            android:label="@string/person_act" />
        <activity android:name=".Activity.StatsAct"
            android:screenOrientation="portrait"
            android:label="@string/stats_act" />
        <activity android:name=".Activity.SocialAct"
            android:screenOrientation="portrait"
            android:label="@string/social_act" />

        <service
            android:name=".Service.PedoSrv"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
