<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fyp.qian3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/candmlauncher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LoadingAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        土
        <activity
            android:name=".ui.LoginAct"
            android:label="@string/login_act"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HomeAct"
            android:label="@string/home_act"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.SettingAct"
            android:label="@string/setting_act"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PersonAct"
            android:label="@string/person_act"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.StatsAct"
            android:label="@string/stats_act"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SocialAct"
            android:label="@string/social_act"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CounterAct"
            android:label="@string/counter_act"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.GuideAct" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service
            android:name=".lib.srv.PedoEventService"
            android:enabled="true"
            android:exported="true" />


        <service
            android:name=".lib.srv.BackgroundSoundService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>
